@media (min-width: 48rem) {

    body {
        background: var(--background-image-tablet) no-repeat;
        background-color: var(--background-color);

        padding: 0 6.4rem;
    }

    .header {
        padding: 4rem 0rem
    }

    .startMenu {
        gap: 6.4rem;
    }

    .startMenu__title {
        font-size: var(--preset-2-font-size);
        font-weight: var(--preset-2-font-weight-light);
        letter-spacing: var(--preset-2-letter-spacing);
        line-height: var(--preset-2-line-height);

    }

    .startMenu__title--highlight {
        font-size: var(--preset-2-font-size);
        font-weight: var(--preset-2-font-weight-medium);
        letter-spacing: var(--preset-2-letter-spacing);
        line-height: var(--preset-2-line-height);
    }

    .startMenu__text {
        font-size: var(--preset-6-font-size);
        font-weight: var(--preset-6-font-weight);
        letter-spacing: var(--preset-6-letter-spacing);
        line-height: var(--preset-6-line-height);
        font-style: var(--preset-6-font-style);
    }

    .startMenu__buttonsContainer {
        gap: 2.4rem;
    }

    .startMenu__buttonsContainer__button {
        gap: 3.2rem;

        font-size: var(--preset-4-font-size);
        font-weight: var(--preset-4-font-weight);
        letter-spacing: var(--preset-4-letter-spacing);
        line-height: var(--preset-4-line-height);

        border-radius: 2.4rem;
    }

    .startMenu__buttonsContainer__button__iconContainer {
        padding: 0.8rem;

        border-radius: 1.2rem;

        width: 5.6rem;
        height: 5.6rem;
    }

    .startMenu__buttonsContainer__button__iconContainer svg {
        width: 4rem;
        height: 4rem;
    }

    .sliderContainer {
        padding: 0.4rem;

        width: 4.8rem;
        height: 2.8rem;
    }

    .sliderContainer__slider {
        height: 2rem;
        width: 2rem;
    }





    .header__titleContainer__text {
        font-size: var(--preset-4-font-size);
        font-weight: var(--preset-4-font-weight);
        letter-spacing: var(--preset-4-letter-spacing);
        line-height: var(--preset-4-line-height);
    }


    .header__titleContainer__iconContainer {
        height: 5.6rem;
        width: 5.6rem;

        border-radius: 1rem;
    }

    .header__titleContainer__iconContainer svg {
        height: 4rem;
        width: 4rem;
    }

    .quizzSection {
        padding: 0.9rem 0 6rem 0;
    }

    .quizzSection__questionSection {
        gap: 4rem;
    }

    .quizzSection__questionSection__questionContainer {
        gap: 2.4rem;
    }

    .quizzSection__questionSection__questionIndex {
        font-size: var(--preset-6-font-size);
        font-weight: var(--preset-6-font-weight);
        letter-spacing: var(--preset-6-letter-spacing);
        line-height: var(--preset-6-line-height);
        font-style: var(--preset-6-font-style);
    }

    .quizzSection__questionSection__question {
        font-size: var(--preset-3-font-size);
        font-weight: var(--preset-3-font-weight);
        letter-spacing: var(--preset-mile-3-letter-spacing);
        line-height: var(--preset-3-line-height);
    }

    .quizzSection__buttonsContainer {
        gap: 2.4rem;
    }

    .quizzSection__buttonsContainer__button {
        gap: 3.2rem;

        border-radius: 2.4rem;
    }

    .quizzSection__buttonsContainer__button__answerOption__container {
        width: 5.6rem;
        height: 5.6rem;

        border-radius: 1.2rem;
    }

    .quizzSection__buttonsContainer__button__answerOption__option {
        font-size: var(--preset-4-font-size);
        font-weight: var(--preset-4-font-weight);
        letter-spacing: var(--preset-4-letter-spacing);
        line-height: var(--preset-4-line-height);
    }

    .quizzSection__buttonsContainer__button__answerText {
        font-size: var(--preset-4-font-size);
        font-weight: var(--preset-4-font-weight);
        letter-spacing: var(--preset-4-letter-spacing);
        line-height: var(--preset-4-line-height);
    }

    .quizzSection__buttonsContainer__submitButton {
        height: 9.2rem;

        padding: 3.2rem;

        margin-top: 0.8rem;

        border-radius: 2.4rem;

        font-size: var(--preset-4-font-size);
        font-weight: var(--preset-4-font-weight);
        letter-spacing: var(--preset-4-letter-spacing);
        line-height: var(--preset-4-line-height);
    }




    .scoreSection {
        padding: 0.9rem 0 10rem 0;
    }

    .scoreSection__texts__primaryText {
        font-size: var(--preset-2-font-size);
        font-weight: var(--preset-2-font-weight-light);
        letter-spacing: var(--preset-2-letter-spacing);
        line-height: var(--preset-2-line-height);
    }

    .scoreSection__texts__secondaryText {
        font-size: var(--preset-2-font-size);
        font-weight: var(--preset-2-font-weight-medium);
        letter-spacing: var(--preset-2-letter-spacing);
        line-height: var(--preset-2-line-height);
    }

    .scoreSection__scoreContainer__scoreItems {
        padding: 4.8rem;
    }

    .scoreSection__scoreContainer__scoreItems__quizzInfo {
        gap: 2.4rem;
    }

    .scoreSection__scoreContainer__scoreItems__quizzInfo__iconContainer {
        height: 5.6rem;
        width: 5.6rem;

        border-radius: 1rem;
    }

    .scoreSection__scoreContainer__scoreItems__quizzInfo__iconContainer svg {
        height: 4rem;
        width: 4rem;
    }

    .scoreSection__scoreContainer__scoreItems__quizzInfo__text {
        font-size: var(--preset-4-font-size);
        font-weight: var(--preset-4-font-weight);
        letter-spacing: var(--preset-4-letter-spacing);
        line-height: var(--preset-4-line-height);
    }

    .scoreSection__scoreContainer__scoreItems__finalScore {
        font-size: var(--preset-1-font-size);
        font-weight: var(--preset-1-font-weight);
        letter-spacing: var(--preset-1-letter-spacing);
        line-height: var(--preset-1-line-height);

        margin-top: 2.4rem;
    }


    .scoreSection__scoreContainer__scoreItems__totalIndex {
        font-size: var(--preset-5-font-size);
        font-weight: var(--preset-5-font-weight-medium);
        letter-spacing: var(--preset-5-letter-spacing);
        line-height: var(--preset-5-line-height);
    }

    .scoreSection__scoreContainer {
        gap: 3.2rem;
    }

    .scoreSection__scoreContainer__playAgainButton {
        height: 9.2rem;

        padding: 3.2rem;

        border-radius: 2.4rem;

        font-size: var(--preset-4-font-size);
        font-weight: var(--preset-4-font-weight);
        letter-spacing: var(--preset-4-letter-spacing);
        line-height: var(--preset-4-line-height);
    }
}



@media (min-width: 90rem) {

    body {
        align-items: center;
        background: var(--background-image-desktop) no-repeat;
        background-color: var(--background-color);
        background-size: cover;
    }

    .header {
        padding: 8.3rem 0 8.5rem 0;
    }

    .startMenu {
        flex-direction: row;


        gap: 12.8rem;
    }

    .startMenu__container {
        min-width: 46.5rem;
    }

    .startMenu__buttonsContainer {
        width: 56.4rem;
        gap: 1.6rem;
    }

    .startMenu__buttonsContainer__button {
        padding: 2.4rem;

    }




    .quizzSection {
        flex-direction: row;

        width: 115.7rem;

        padding: 0;

        gap: 12.8rem;
    }

    .quizzSection__questionSection {
        width: 46.5rem;

        gap: 18.4rem;
    }

    .quizzSection__buttonsContainer {
        width: 56.4rem;

        gap: 1.6rem;
    }

    .quizzSection__buttonsContainer__button {
        height: 10.4rem;
    }

    .quizzSection__buttonsContainer__button:hover,
    .quizzSection__buttonsContainer__button:focus {
        border: solid 0.3rem var(--selected-alternative-border-color);
        margin: 0;
    }

    .quizzSection__buttonsContainer__submitButton {
        margin-top: 1.6rem;
    }


    .scoreSection {
        flex-direction: row;

        padding: 0.2rem 0;

        gap: 14.4rem;
    }

    .scoreSection__scoreContainer__scoreItems {
        width: 56.4rem;
    }

}