:root {
    /* Mobile Text Presets */
    --preset-mobile-1-font-size: 8.8rem;
    --preset-mobile-1-font-weight: 500;
    --preset-mobile-1-line-height: 100%;
    --preset-mobile-1-letter-spacing: 0;

    --preset-mobile-2-font-size: 4rem;
    --preset-mobile-2-font-weight-light: 300;
    --preset-mobile-2-font-weight-medium: 500;
    --preset-mobile-2-line-height: 100%;
    --preset-mobile-2-letter-spacing: 0;

    --preset-mobile-3-font-size: 2rem;
    --preset-mobile-3-font-weight: 500;
    --preset-mobile-3-line-height: 120%;
    --preset-mobile-3-letter-spacing: 0;

    --preset-mobile-4-font-size: 1.8rem;
    --preset-mobile-4-font-weight: 550;
    --preset-mobile-4-line-height: 100%;
    --preset-mobile-4-letter-spacing: 0;

    --preset-mobile-5-font-size: 1.4rem;
    --preset-mobile-5-font-weight: 400;
    --preset-mobile-5-font-style: italic;
    --preset-mobile-5-line-height: 150%;
    --preset-mobile-5-letter-spacing: 0;


    /* Tablet / Desktop Text Presets */
    --preset-1-font-size: 14.4rem;
    --preset-1-font-weight: 500;
    --preset-1-line-height: 100%;
    --preset-1-letter-spacing: 0;

    --preset-2-font-size: 6.4rem;
    --preset-2-font-weight-light: 300;
    --preset-2-font-weight-medium: 500;
    --preset-2-line-height: 100%;
    --preset-2-letter-spacing: 0;

    --preset-3-font-size: 3.6rem;
    --preset-3-font-weight: 500;
    --preset-3-line-height: 120%;
    --preset-3-letter-spacing: 0;

    --preset-4-font-size: 2.8rem;
    --preset-4-font-weight: 500;
    --preset-4-line-height: 100%;
    --preset-4-letter-spacing: 0;

    --preset-5-font-size: 2.4rem;
    --preset-5-font-weight-regular: 400;
    --preset-5-font-weight-medium: 500;
    --preset-5-line-height: 150%;
    --preset-5-letter-spacing: 0;

    --preset-6-font-size: 2rem;
    --preset-6-font-weight: 400;
    --preset-6-font-style: italic;
    --preset-6-line-height: 150%;
    --preset-6-letter-spacing: 0;


    /* Spacing Tokens */
    --space-100: 0.8rem;
    --space-200: 1.6rem;
    --space-300: 2.4rem;
    --space-400: 3.2rem;
    --space-500: 4rem;
    --space-600: 4.8rem;
    --space-800: 6.4rem;
    --space-1600: 12.8rem;
    --space-1800: 14.4rem;
    --space-2300: 18.4rem;


    /* Colors */
    --background-color: #F4F6FA;
    --main-text-color: #FFFFFF;

    --toggle-theme-icons: #626C7F;
    --toggle-theme-background: #A729F5;
    --toggle-theme-thumb: #FFFFFF;

    --inicial-primary-text: #313E51;
    --inicial-secondary-text: #626C7F;

    --quizz-option-background-color: #FFFFFF;
    --quizz-option-title: #313E51;
    --quizz-option-shadow: #8FA0C12E;

    --html-icon-background: #FFF5ED;
    --html-icon-color: #FF7E35;

    --css-icon-background: #E0FDEF;
    --css-icon-color: #2FD887;

    --javascript-icon-background: #EBF0FF;
    --javascript-icon-color: #306AFF;

    --accessibility-icon-background: #F6E7FF;
    --accessibility-icon-color: #A729F5;

    --question-index: #626C7F;
    --question: #313E51;

    --range-background-color: #FFFFFF;
    --range-progress-color: #A729F5;

    --alternative-container: #FFFFFF;
    --alternative-option-background: #F4F6FA;
    --alternative-option-text-color: #626C7F;
    --alternative-option-answer-color: #313E51;

    --selected-alternative-border-color: #A729F5;
    --selected-alternative-option-background: #A729F5;
    --selected-alternative-text-color: #FFFFFF;


    --right-answer-color: #2FD887;
    --wrong-answer-color: #EE5454;

    --main-button-color: #A729F5;
    --main-button-color-hover: #F6E7FF;
    --main-button-text-color: #FFFFFF;

    --error-color: #EE5454;

    --completed-quiz-text-color: #313E51;
    --final-score-container-background-color: #FFFFFF;
    --final-score-color: #313E51;
    --final-score-index: #626C7F;


    /* Dark Theme Colors */
    --dark-theme-background-color: #313E51;
    --dark-theme-main-text-color: #FFFFFF;

    --dark-theme-inicial-primary-text: #FFFFFF;
    --dark-theme-inicial-secondary-text: #ABC1E1;

    --dark-theme-toggle-theme-icons: #FFFFFF;

    --dark-theme-quizz-option-background-color: #3B4D66;
    --dark-theme-quizz-option-title: #FFFFFF;

    --dark-theme-question-index: #ABC1E1;
    --dark-theme-question: #FFFFFF;

    --dark-theme-range-background-color: #3B4D66;

    --dark-theme-alternative-container: #3B4D66;
    --dark-theme-alternative-option-background: #F4F6FA;
    --dark-theme-alternative-option-text-color: #626C7F;
    --dark-theme-alternative-option-answer-color: #FFFFFF;

    --dark-theme-completed-quiz-text-color: #FFFFFF;
    --dark-theme-final-score-container-background-color: #3B4D66;
    --dark-theme-final-score-color: #FFFFFF;
    --dark-theme-final-score-index: #ABC1E1;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: url('../images/pattern-background-mobile-light.svg') no-repeat;
    background-size: cover;
    background-color: var(--background-color);

    min-height: 100dvh;

    font-family: Rubik, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;

    padding: 2.6rem 2.4rem;
}

.quizzHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 2.6rem 2.4rem;
}

.startHeader {
    display: flex;
    justify-content: flex-end;
}

.header__titleContainer {
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

.header__titleContainer__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 4rem;

    background-color: var(--accessibility-icon-background);

    border-radius: 0.4rem;
}

.header__titleContainer__iconContainer svg {
    height: 2.857rem;
    width: 2.857rem;
}

.header__titleContainer__text {
    font-size: var(--preset-mobile-4-font-size);
    font-weight: var(--preset-mobile-4-font-weight);
    letter-spacing: var(--preset-mobile-4-letter-spacing);
    line-height: var(--preset-mobile-4-line-height);

    color: var(--inicial-primary-text);
}

.header__toggleTheme {
    display: flex;
    align-items: center;



    gap: 0.8rem;

}

.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0.4rem;

    background-color: var(--toggle-theme-background);
    width: 3.2rem;
    height: 2rem;

    border-radius: 99.9rem;

    cursor: pointer;

    transition: all 0.2s;
}

.sliderContainer__slider {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
    background-color: var(--toggle-theme-thumb);
}

.startMenu {
    display: flex;
    flex-direction: column;

    gap: 4rem;

    max-width: 33.1rem;

    padding: 3.2rem 2.4rem;

}

.startMenu__container {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}


.startMenu__title {
    font-size: var(--preset-mobile-2-font-size);
    font-weight: var(--preset-mobile-2-font-weight-light);
    letter-spacing: var(--preset-mobile-2-letter-spacing);
    line-height: var(--preset-mobile-2-line-height);

    color: var(--inicial-primary-text);
}

.startMenu__title--highlight {
    font-weight: var(--preset-mobile-2-font-weight-medium);
}

.startMenu__text {
    font-size: var(--preset-mobile-5-font-size);
    font-weight: var(--preset-mobile-5-font-weight);
    letter-spacing: var(--preset-mobile-5-letter-spacing);
    line-height: var(--preset-mobile-5-line-height);

    color: var(--inicial-secondary-text);
}

.startMenu__buttonsContainer {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}

.startMenu__buttonsContainer__button {
    display: flex;
    align-items: center;

    padding: 1.6rem;

    gap: 1.6rem;

    font-size: var(--preset-mobile-4-font-size);
    font-weight: var(--preset-mobile-4-font-weight);
    letter-spacing: var(--preset-mobile-4-letter-spacing);
    line-height: var(--preset-mobile-4-line-height);

    background-color: var(--quizz-option-background-color);
    color: var(--quizz-option-title);

    border: none;
    border-radius: 1.2rem;

    box-shadow: 0 1.6rem 4rem var(--quizz-option-shadow);

    cursor: pointer;
}

.startMenu__buttonsContainer__button__iconContainer {
    padding: 0.571rem;

    border-radius: 0.6rem;

    width: 4rem;
    height: 4rem;
}

.startMenu__buttonsContainer__button__iconContainer svg {
    width: 2.857rem;
    height: 2.857rem;
}

.iconContainer--html {
    background-color: var(--html-icon-background);
}

.iconContainer--css {
    background-color: var(--css-icon-background);
}

.iconContainer--javascript {
    background-color: var(--javascript-icon-background);
}

.iconContainer--accessibility {
    background-color: var(--accessibility-icon-background);
}




.quizzSection {
    display: flex;
    flex-direction: column;

    padding: 1.6rem 2.4rem;

    gap: 4rem;
}

.quizzSection__questionSection {
    display: flex;
    flex-direction: column;

    gap: 2.4rem;
}


.quizzSection__questionSection__questionContainer {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}

.quizzSection__questionSection__questionIndex {
    font-size: var(--preset-mobile-5-font-size);
    font-weight: var(--preset-mobile-5-font-weight);
    letter-spacing: var(--preset-mobile-5-letter-spacing);
    line-height: var(--preset-mobile-5-line-height);
    font-style: var(--preset-mobile-5-font-style);

    color: var(--question-index);
}

.quizzSection__questionSection__question {
    font-size: var(--preset-mobile-3-font-size);
    font-weight: var(--preset-mobile-3-font-weight);
    letter-spacing: var(--preset-mobile-3-letter-spacing);
    line-height: var(--preset-mobile-3-line-height);

    color: var(--question);
}

.quizzSection__buttonsContainer {
    display: flex;
    flex-direction: column;

    gap: 1.6REM;
}

.quizzSection__buttonsContainer__button {
    display: flex;
    align-items: center;

    padding: 1.6rem;

    gap: 1.6rem;

    background-color: var(--alternative-container);

    border: none;
    border-radius: 1.2rem;

    box-shadow: 0 1.6rem 4rem var(--quizz-option-shadow);

    cursor: pointer;
    
}

.quizzSection__buttonsContainer__button:hover, .quizzSection__buttonsContainer__button:focus {
    border: solid 0.3rem var(--selected-alternative-border-color);
    margin: -0.3rem;
}

.quizzSection__buttonsContainer__button:hover .quizzSection__buttonsContainer__button__answerOption__container, .quizzSection__buttonsContainer__button:focus .quizzSection__buttonsContainer__button__answerOption__container{
    background-color: var(--selected-alternative-option-background);
}

.quizzSection__buttonsContainer__button:hover .quizzSection__buttonsContainer__button__answerOption__container, .quizzSection__buttonsContainer__button:focus .quizzSection__buttonsContainer__button__answerOption__container{
    color: var(--selected-alternative-text-color);
}



.quizzSection__buttonsContainer__button__answerText {
    font-size: var(--preset-mobile-4-font-size);
    font-weight: var(--preset-mobile-4-font-weight);
    letter-spacing: var(--preset-mobile-4-letter-spacing);
    line-height: var(--preset-mobile-4-line-height);

    color: var(--alternative-option-answer-color);
}

.quizzSection__buttonsContainer__button__answerOption__container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--alternative-option-background);
    color: var(--alternative-option-text-color);

    width: 4rem;
    height: 4rem;

    border-radius: 0.6rem;
}

.quizzSection__buttonsContainer__button__answerOption__option {
    font-size: var(--preset-mobile-4-font-size);
    font-weight: var(--preset-mobile-4-font-weight);
    letter-spacing: var(--preset-mobile-4-letter-spacing);
    line-height: var(--preset-mobile-4-line-height);
}


.quizzSection__buttonsContainer__submitButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5.6rem;

    padding: 1.6rem;

    gap: 1.6rem;

    background-color: var(--main-button-color);
    color: var(--main-button-text-color);

    border: none;
    border-radius: 1.2rem;

    box-shadow: 0 1.6rem 4rem var(--quizz-option-shadow);

    cursor: pointer;

    font-size: var(--preset-mobile-4-font-size);
    font-weight: var(--preset-mobile-4-font-weight);
    letter-spacing: var(--preset-mobile-4-letter-spacing);
    line-height: var(--preset-mobile-4-line-height);
}

.quizzSection__buttonsContainer__submitButton__errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.8rem;
}

.quizzSection__buttonsContainer__submitButton__errorContainer svg {
    width: 3.2rem;
    height: 3.2rem;
}

.quizzSection__buttonsContainer__submitButton__errorContainer__errorText {
    font-size: var(--preset-mobile-4-font-size);
    font-weight: var(--preset-mobile-4-font-weight);
    letter-spacing: var(--preset-mobile-4-letter-spacing);
    line-height: var(--preset-mobile-4-line-height);

    color: var(--error-color);
}


.hidden {
    display: none;
}