:root {
    /* Mobile Text Presets */
    --preset-mobile-1-font-size: 8.8rem;
    --preset-mobile-1-font-weight: 500;
    --preset-mobile-1-line-height: 100%;
    --preset-mobile-1-letter-spacing: 0;

    --preset-mobile-2-font-size: 4rem;
    --preset-mobile-2-font-weight-light: 300;
    --preset-mobile-2-font-weight-medium: 500;
    --preset-mobile-2-line-height: 100%;
    --preset-mobile-2-letter-spacing: 0;

    --preset-mobile-3-font-size: 2rem;
    --preset-mobile-3-font-weight: 500;
    --preset-mobile-3-line-height: 120%;
    --preset-mobile-3-letter-spacing: 0;

    --preset-mobile-4-font-size: 1.8rem;
    --preset-mobile-4-font-weight: 500;
    --preset-mobile-4-line-height: 100%;
    --preset-mobile-4-letter-spacing: 0;

    --preset-mobile-5-font-size: 1.4rem;
    --preset-mobile-5-font-weight: 400;
    --preset-mobile-5-font-style: italic;
    --preset-mobile-5-line-height: 150%;
    --preset-mobile-5-letter-spacing: 0;


    /* Tablet / Desktop Text Presets */
    --preset-1-font-size: 14.4rem;
    --preset-1-font-weight: 500;
    --preset-1-line-height: 100%;
    --preset-1-letter-spacing: 0;

    --preset-2-font-size: 6.4rem;
    --preset-2-font-weight-light: 300;
    --preset-2-font-weight-medium: 500;
    --preset-2-line-height: 100%;
    --preset-2-letter-spacing: 0;

    --preset-3-font-size: 3.6rem;
    --preset-3-font-weight: 500;
    --preset-3-line-height: 120%;
    --preset-3-letter-spacing: 0;

    --preset-4-font-size: 2.8rem;
    --preset-4-font-weight: 500;
    --preset-4-line-height: 100%;
    --preset-4-letter-spacing: 0;

    --preset-5-font-size: 2.4rem;
    --preset-5-font-weight-regular: 400;
    --preset-5-font-weight-medium: 500;
    --preset-5-line-height: 150%;
    --preset-5-letter-spacing: 0;

    --preset-6-font-size: 2rem;
    --preset-6-font-weight: 400;
    --preset-6-font-style: italic;
    --preset-6-line-height: 150%;
    --preset-6-letter-spacing: 0;


    /* Spacing Tokens */
    --space-100: 0.8rem;
    --space-200: 1.6rem;
    --space-300: 2.4rem;
    --space-400: 3.2rem;
    --space-500: 4rem;
    --space-600: 4.8rem;
    --space-800: 6.4rem;
    --space-1600: 12.8rem;
    --space-1800: 14.4rem;
    --space-2300: 18.4rem;


    /* Colors */
    --background-color: #F4F6FA;
    --main-text-color: #FFFFFF;

    --toggle-theme-icons: #626C7F;
    --toggle-theme-background: #A729F5;
    --toggle-theme-thumb: #A729F5;

    --inicial-primary-text: #313E51;
    --inicial-secondary-text: #626C7F;

    --quizz-option-background-color: #FFFFFF;
    --quizz-option-title: #313E51;

    --html-icon-background: #FFF5ED;
    --html-icon-color: #FF7E35;

    --css-icon-background: #E0FDEF;
    --css-icon-color: #2FD887;

    --javascript-icon-background: #EBF0FF;
    --javascript-icon-color: #306AFF;

    --accessibility-icon-background: #F6E7FF;
    --accessibility-icon-color: #A729F5;

    --question-index: #626C7F;
    --question: #313E51;

    --range-background-color: #FFFFFF;
    --range-progress-color: #A729F5;

    --alternative-container: #FFFFFF;
    --alternative-option-background: #F4F6FA;
    --alternative-option-text-color: #626C7F;
    --alternative-option-answer-color: #313E51;     

    --selected-alternative-border-color: #A729F5;
    --selected-alternative-option-background: #A729F5;
    --selected-alternative-text-color: #FFFFFF;


    --right-answer-color: #2FD887;
    --wrong-answer-color: #EE5454;

    --main-button-color: #A729F5;
    --main-button-color-hover: #F6E7FF;
    --main-button-text-color: #FFFFFF;

    --error-color: #EE5454;

    --completed-quiz-text-color: #313E51;
    --final-score-container-background-color: #FFFFFF;
    --final-score-color: #313E51;
    --final-score-index: #626C7F;


    /* Dark Theme Colors */
    --dark-theme-background-color: #313E51;
    --dark-theme-main-text-color: #FFFFFF;

    --dark-theme-inicial-primary-text: #FFFFFF;
    --dark-theme-inicial-secondary-text: #ABC1E1;
    
    --dark-theme-toggle-theme-icons: #FFFFFF;

    --dark-theme-quizz-option-background-color: #3B4D66;
    --dark-theme-quizz-option-title: #FFFFFF;

    --dark-theme-question-index: #ABC1E1;
    --dark-theme-question: #FFFFFF;

    --dark-theme-range-background-color: #3B4D66;

    --dark-theme-alternative-container: #3B4D66;
    --dark-theme-alternative-option-background: #F4F6FA;
    --dark-theme-alternative-option-text-color: #626C7F;
    --dark-theme-alternative-option-answer-color: #FFFFFF;

    --dark-theme-completed-quiz-text-color: #FFFFFF;
    --dark-theme-final-score-container-background-color: #3B4D66;
    --dark-theme-final-score-color: #FFFFFF;
    --dark-theme-final-score-index: #ABC1E1;
}


body{
    background: url('../images/pattern-background-mobile-light.svg') no-repeat;
    background-size: cover;
    background-color: var(--background-color);

    min-height: 100dvh;

    font-family: Rubik, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 7.2rem;

    padding: 1.6rem 2.4rem;
}

.header__titleContainer{
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

.header__titleContainer__iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 4rem;

    background-color: var(--accessibility-icon-background);

    border-radius: 0.4rem;
}

.header__titleContainer__iconContainer svg {
    height: 2.857rem;
    width: 2.857rem;
}

.header__titleContainer__text{
    font-size: var(--preset-mobile-4-font-size);
    font-weight: var(--preset-mobile-4-font-weight);
    letter-spacing: var(--preset-mobile-4-letter-spacing);
    line-height: var(--preset-mobile-4-line-height);

    color: var(--inicial-primary-text);
}

.header__toggleTheme{
    display: flex;
}